*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}
.header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
	height:100%;
	background-size: cover;
	background-position: center;
}
ul{
	list-style-type:none;
	position:absolute;
	margin-top: 50px;
	margin-left: 70%;
}
ul li{
	display:inline;
	padding: 0 20px;
}
a{
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:white;
}
a:hover{
	padding-bottom: 5px;
	border-bottom: 2px solid #ff5e00;
}
.glavnimeni-slika{
	border-radius: 20px;
	height: 40px;
	width: 70px;
	margin-left: 88%;
	margin-top: 38px;
}


.sidebar{
	width: 80px;
	height: 100%;
	background: #000;
	position: absolute;
	top:0;
	left:0;
}
.logo-icon{
	width: 30px;
	margin: 30px;
	cursor: pointer;
}
.social-links{
	width: 80px;
	position: absolute;
	bottom: 20px;
}
.social-links img{
	height: 15px;
	display: block;
	margin: 25px auto;
}


.kontakt{
	position:absolute;
	top:180px;
	left:620px;
	height:600px;
	width:700px;
}
p{
	padding: 5px 0px;
}
form{
	text-align: center;
	font-size:18px;
	font-weight:bold;
}
.plava{
	color:#00b3ff;
}
.narandzasta{
	color:#ff5e00;
}
input[type=email], input[type=text]{
	width:50%;
	background:white;
	border:2px solid white;
	border-radius:15px;
	padding:10px 20px;
}
input[type=submit]{
	width:25%;
	height:40px;
	padding:5px 10px;
	color:white;
	font-weight:bold;
	background-color:transparent;
	border: 2px solid #00b3ff;
}
input[type=submit]:hover{
	border: 2px solid #ff5e00; 
	background-color:transparent;
	color:white;
	font-size: 15px;
	cursor: pointer;
}
legend{
	font-weight:bold;
	font-size:25px;
	color:white;
}
fieldset{
	border-top:3px solid #ff5e00;
	border-bottom:3px solid #ff5e00;
	border-right:3px solid #00b3ff;
	border-left:3px solid #00b3ff;
	border-radius:15px;
}


footer{
	position: absolute;
	left: 820px;
	bottom: 10px;
	color: white;
}


@media screen and (max-width: 1100px){
	ul{
	list-style-type:none;
	position:absolute;
	margin-top: 50px;
	margin-left: 55%;
	}

	ul li{
	display:inline;
	padding: 0 20px;
	}

	.kontakt{
	position:absolute;
	top:180px;
	left:270px;
	height:600px;
	width:600px;
	}

	footer{
	position: absolute;
	left: 410px;
	top: 865px;
	color: white;
	}
}


@media screen and (max-width: 600px){
	ul{
	list-style-type:none;
	position:absolute;
	margin-top: 35px;
	margin-left: 25%;
	}

	ul li{
	display:inline;
	padding: 10px 20px;
	}

	.glavnimeni-slika{
	display: none;
	}

	.kontakt{
	position:absolute;
	top:180px;
	left:130px;
	height:600px;
	width:400px;
	}

	input[type=email], input[type=text]{
	width:70%;
	background:white;
	border:2px solid white;
	border-radius:15px;
	padding:10px 20px;
	}

	footer{
	position: absolute;
	left: 150px;
	top: 865px;
	color: white;
	}
}