*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}
.header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
	height:100%;
	background-size: cover;
	background-position: center;
}
ul{
	list-style-type:none;
	position:absolute;
	margin-top: 50px;
	margin-left: 70%;
}
ul li{
	display:inline;
	padding: 0 20px;
}
a{
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:white;
}
a:hover{
	padding-bottom: 5px;
	border-bottom: 2px solid #ff5e00;
}
.glavnimeni-slika{
	border-radius: 20px;
	height: 40px;
	width: 70px;
	margin-left: 88%;
	margin-top: 38px;
}


.sidebar{
	width: 80px;
	height: 100%;
	background: #000;
	position: absolute;
	top:0;
	left:0;
}
.logo-icon{
	width: 30px;
	margin: 30px;
	cursor: pointer;
}
.social-links{
	width: 80px;
	position: absolute;
	bottom: 20px;
}
.social-links img{
	height: 15px;
	display: block;
	margin: 25px auto;
}


.about-me{
	height: 400px;
	width: 500px;
	position: absolute;
	top:240px;
	left: 250px;
	border-left: 2px solid #00b3ff;
	border-top: 2px solid #00b3ff;
	border-bottom: 2px solid #ff5e00;
	border-right: 2px solid #ff5e00;
	padding: 25px;
}
.my-skills{
	height: 400px;
	width: 800px;
	position: absolute;
	top:240px;
	left: 900px;
	border-left: 2px solid #ff5e00;
	border-top: 2px solid #ff5e00;
	border-bottom: 2px solid #00b3ff;
	border-right: 2px solid #00b3ff;
	padding: 25px;
}
.html-css{
	height: 20px;
	width: 800px;
	background-color: #00b3ff;
	border-radius: 10px;
}
.html-css2{
	height: 20px;
	width: 600px;
	background-color: #ff5e00;
	border-radius: 10px;
}
.javascript{
	height: 20px;
	width: 800px;
	background-color: #00b3ff;
	border-radius: 10px;
}
.javascript2{
	height: 20px;
	width: 240px;
	background-color: #ff5e00;
	border-radius: 10px;
}
.mysql{
	height: 20px;
	width: 800px;
	background-color: #00b3ff;
	border-radius: 10px;
}
.mysql2{
	height: 20px;
	width: 400px;
	background-color: #ff5e00;
	border-radius: 10px;
}
.wordpress{
	height: 20px;
	width: 800px;
	background-color: #00b3ff;
	border-radius: 10px;
}
.wordpress2{
	height: 20px;
	width: 500px;
	background-color: #ff5e00;
	border-radius: 10px;
}
h1,h3{
	text-align: center;
	color:white;
}
h4{
	float: right;
	color:white;
	padding: 2px 10px;
}
p{
	color:white;
	font-size: 20px;
	padding: 20px 0px;
}


footer{
	position: absolute;
	left: 820px;
	bottom: 10px;
	color: white;
}


@media screen and (max-width: 1100px){
	.header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
	height:893px;
	background-size: cover;
	background-position: center;
	}

	ul{
	list-style-type:none;
	position:absolute;
	margin-top: 50px;
	margin-left: 55%;
	}

	ul li{
	display:inline;
	padding: 0 20px;
	}

	.sidebar{
	width: 80px;
	height: 893px;
	background: #000;
	position: absolute;
	top:0;
	left:0;
	}

	.about-me{
	height: 500px;
	width: 350px;
	position: absolute;
	top:180px;
	left: 10%;
	border-left: 2px solid #00b3ff;
	border-top: 2px solid #00b3ff;
	border-bottom: 2px solid #ff5e00;
	border-right: 2px solid #ff5e00;
	padding: 25px;
	}

	p{
	color:white;
	font-size: 20px;
	padding: 0px 10px;
	}

	.my-skills{
	height: 500px;
	width: 350px;
	position: absolute;
	top:180px;
	left: 55%;
	border-left: 2px solid #ff5e00;
	border-top: 2px solid #ff5e00;
	border-bottom: 2px solid #00b3ff;
	border-right: 2px solid #00b3ff;
	padding: 25px;
	}
	h3{
	margin-top: 10px;
	}
	.html-css{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	margin-top: 10px;
	}
	.html-css2{
	height: 20px;
	width: 245px;
	background-color: #ff5e00;
	border-radius: 10px;
	}
	.javascript{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	margin-top: 10px;
	}
	.javascript2{
	height: 20px;
	width: 105px;
	background-color: #ff5e00;
	border-radius: 10px;
	}
	.mysql{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	margin-top: 10px;
	}
	.mysql2{
	height: 20px;
	width: 190px;
	background-color: #ff5e00;
	border-radius: 10px;
	}
	.wordpress{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	margin-top: 10px;
	}
	.wordpress2{
	height: 20px;
	width: 220px;
	background-color: #ff5e00;
	border-radius: 10px;
	}

	footer{
	position: absolute;
	left: 380px;
	top: 865px;
	color: white;
	}
}


@media screen and (max-width: 600px){
	.header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
	height:1300px;
	background-size: cover;
	background-position: center;
	}

	ul{
	list-style-type:none;
	position:absolute;
	margin-top: 35px;
	margin-left: 25%;
	}

	ul li{
	display:inline;
	padding: 10px 20px;
	}

	.glavnimeni-slika{
	display: none;
	}

	.sidebar{
	width: 80px;
	height: 1300px;
	background: #000;
	position: absolute;
	top:0;
	left:0;
	}

	.about-me{
	height: 500px;
	width: 350px;
	position: absolute;
	top:130px;
	left: 20%;
	border-left: 2px solid #00b3ff;
	border-top: 2px solid #00b3ff;
	border-bottom: 2px solid #ff5e00;
	border-right: 2px solid #ff5e00;
	padding: 25px;
	}

	p{
	color:white;
	font-size: 20px;
	padding: 0px 10px;
	}

	.my-skills{
	height: 445px;
	width: 350px;
	position: absolute;
	top:730px;
	left: 20%;
	border-left: 2px solid #ff5e00;
	border-top: 2px solid #ff5e00;
	border-bottom: 2px solid #00b3ff;
	border-right: 2px solid #00b3ff;
	padding: 25px;
	}
	.html-css{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	}
	.html-css2{
	height: 20px;
	width: 245px;
	background-color: #ff5e00;
	border-radius: 10px;
	}
	.javascript{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	}
	.javascript2{
	height: 20px;
	width: 105px;
	background-color: #ff5e00;
	border-radius: 10px;
	}
	.mysql{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	}
	.mysql2{
	height: 20px;
	width: 190px;
	background-color: #ff5e00;
	border-radius: 10px;
	}
	.wordpress{
	height: 20px;
	width: 350px;
	background-color: #00b3ff;
	border-radius: 10px;
	}
	.wordpress2{
	height: 20px;
	width: 220px;
	background-color: #ff5e00;
	border-radius: 10px;
	}

	footer{
	position: absolute;
	left: 150px;
	top: 1270px;
	color: white;
	}
}