*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}
.header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
	height:100%;
	background-size: cover;
	background-position: center;
}
ul{
	list-style-type:none;
	position:absolute;
	margin-top: 50px;
	margin-left: 70%;
}
ul li{
	display:inline;
	padding: 0 20px;
}
a{
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:white;
}
a:hover{
	padding-bottom: 10px;
	border-bottom: 2px solid #ff5e00;
}
.glavnimeni-slika{
	border-radius: 20px;
	height: 40px;
	width: 70px;
	margin-left: 88%;
	margin-top: 38px;
}


.sidebar{
	width: 80px;
	height: 100%;
	background: #000;
	position: absolute;
	top:0;
	left:0;
}
.logo-icon{
	width: 30px;
	margin: 30px;
	cursor: pointer;
}
.social-links{
	width: 80px;
	position: absolute;
	bottom: 20px;
}
.social-links img{
	height: 15px;
	display: block;
	margin: 25px auto;
}


.glavni-text{
	width: 1500px;
	height: 300px;
	position: absolute;
	top: 380px;
	left: 300px;
}
.tekst{
	font-size: 25px;
}
.plava{
	color:#00b3ff;
	font-size: 50px;
}
.narandzasta{
	color:#ff5e00;
	font-size: 50px;
}
button{
	width:15%;
	height:40px;
	border-top:2px solid #00b3ff;
	border-left:2px solid #00b3ff;
	border-right:2px solid #00b3ff;
	border-bottom:0px solid #00b3ff;
	padding:5px 10px;
	color:white;
	font-weight:bold;
	background-color: transparent;
}
button:hover{
	background-color:transparent;
	border-top:0px solid #ff5e00;
	border-left:2px solid #ff5e00;
	border-right:2px solid #ff5e00;
	cursor: pointer;
}
p{
	font-size: 40px;
	color:white;
}


footer{
	position: absolute;
	left: 820px;
	bottom: 10px;
	color: white;
}


@media screen and (max-width: 1100px){
	ul{
	list-style-type:none;
	position:absolute;
	margin-top: 50px;
	margin-left: 55%;
	}

	ul li{
	display:inline;
	padding: 0 20px;
	}

	.glavni-text{
	width: 800px;
	height: 400px;
	position: absolute;
	top: 330px;
	left: 140px;
	}

	.tekst{
	font-size: 20px;
	}

	button{
	width:30%;
	height:40px;
	border-top:2px solid #00b3ff;
	border-left:2px solid #00b3ff;
	border-right:2px solid #00b3ff;
	border-bottom:0px solid #00b3ff;
	padding:5px 25px;
	color:white;
	font-weight:bold;
	background-color: transparent;
	}

	footer{
	position: absolute;
	left: 380px;
	top: 865px;
	color: white;
	}
}


@media screen and (max-width: 600px){
	ul{
	list-style-type:none;
	position:absolute;
	margin-top: 35px;
	margin-left: 25%;
	}

	ul li{
	display:inline;
	padding: 10px 20px;
	}

	.glavnimeni-slika{
	display: none;
	}

	.glavni-text{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 300px;
	left: 140px;
	}

	.tekst{
	font-size: 20px;
	}

	button{
	width:55%;
	height:40px;
	border-top:2px solid #00b3ff;
	border-left:2px solid #00b3ff;
	border-right:2px solid #00b3ff;
	border-bottom:0px solid #00b3ff;
	padding:5px 25px;
	color:white;
	font-weight:bold;
	background-color: transparent;
	}

	footer{
	position: absolute;
	left: 150px;
	top: 865px;
	color: white;
	}
}